@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var currentPage = Umbraco.AssignedContentItem;
    var master = Umbraco.ContentAtRoot().FirstOrDefault(a => a.ContentType.Alias == Dt_HomePage.ModelTypeAlias); // Assuming the first node is the home page
    bool isHome = currentPage != null && currentPage.Id == master?.Id;
    bool IsArabic = true;
    string Lang = "ar";
    string Lang_URL = "";
    var OtherLangText = "EN";
    var OtherLangUrl = Model?.Url("en-US");

    List<string> types = new List<string>();
    IEnumerable<IPublishedContent> selection = null;
    var rootUrl = Model?.Root()?.Url();

    try
    {

        if (Model != null && Model.GetCultureFromDomains() != null && !string.IsNullOrEmpty(Model.GetCultureFromDomains()))
        {
            if (Model.GetCultureFromDomains().ToLower().Contains("en"))
            {
                IsArabic = false;
                Lang_URL = "/en";
            }
            else
            {
                IsArabic = true;
                Lang_URL = "";
            }
        }

        Lang = IsArabic ? "ar" : "en";
        OtherLangText = IsArabic ? "English" : "عربي";
        OtherLangUrl = IsArabic ? Model?.Url("en-US") : Model?.Url("ar");

        types.Add(Dt_PageContent.ModelTypeAlias);
        types.Add(Dt_News.ModelTypeAlias);
        types.Add(Dt_Events.ModelTypeAlias);

        if (master != null)
        {
            selection = master.Children
                             .Where(x =>
                                 x.IsVisible(PublishedValueFallback) &&
                                 types.Contains(x.ContentType.Alias))
                             .Where(x => x.Value<Boolean>(nameof(PageProperties.ShowInMainMenu)) == true)
                             .ToArray();
        }

    }
    catch (Exception ex)
    {
        SharedHelper.LogException(ex);
    }
}


<header class="sticky-top">
    <div class="bg-gray py-3 d-none d-xxl-flex">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center px-xl-5 flex-wrap">
                <ul class="list-unstyled d-flex gap-3 align-items-center">
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2 text-danger bg-danger-light rounded-2 px-3 py-1">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.66073 9.00074C7.61443 8.99999 7.56088 8.99997 7.49483 8.99997C7.21869 8.99997 6.99483 8.77611 6.99483 8.49997C6.99483 8.22383 7.21869 7.99997 7.49483 7.99997L7.5178 7.99997C7.65454 7.99991 7.8024 7.99985 7.92721 8.01663C8.07343 8.03629 8.26022 8.08685 8.41742 8.24405C8.57462 8.40125 8.62518 8.58804 8.64484 8.73426C8.66162 8.85907 8.66156 9.00693 8.6615 9.14368L8.6615 11.8333C8.6615 12.1094 8.43764 12.3333 8.1615 12.3333C7.88536 12.3333 7.6615 12.1094 7.6615 11.8333V9.16664C7.6615 9.10059 7.66148 9.04704 7.66073 9.00074Z" fill="#D92D20" />
                                <path d="M7.99483 5.83329C7.62664 5.83329 7.32817 6.13177 7.32817 6.49996C7.32817 6.86815 7.62664 7.16663 7.99483 7.16663H8.00082C8.36901 7.16663 8.66749 6.86815 8.66749 6.49996C8.66749 6.13177 8.36901 5.83329 8.00082 5.83329H7.99483Z" fill="#D92D20" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.90803 1.84329C7.61767 1.60774 8.38242 1.60774 9.09206 1.84329C9.79876 2.07788 10.3536 2.63423 10.9111 3.41592C11.4667 4.19503 12.0806 5.28133 12.8719 6.68162L12.903 6.7366C13.6945 8.13711 14.3084 9.22336 14.6909 10.1043C15.0754 10.9895 15.2668 11.7538 15.1141 12.488C14.9603 13.2273 14.581 13.8996 14.0286 14.4077C13.4775 14.9146 12.7272 15.1285 11.7824 15.2312C10.843 15.3333 9.61417 15.3333 8.03254 15.3333H7.96754C6.38592 15.3333 5.15707 15.3333 4.21766 15.2312C3.27289 15.1285 2.52257 14.9146 1.97152 14.4077C1.41912 13.8996 1.03983 13.2273 0.886009 12.488C0.73324 11.7538 0.924708 10.9895 1.30914 10.1043C1.69172 9.22336 2.30561 8.1371 3.09709 6.7366L3.12816 6.68163C3.91951 5.28134 4.53343 4.19503 5.08902 3.41592C5.64646 2.63423 6.20133 2.07788 6.90803 1.84329ZM8.77702 2.79237C8.27192 2.62471 7.72817 2.62471 7.22307 2.79237C6.82574 2.92426 6.42633 3.26296 5.9032 3.99653C5.38188 4.72758 4.79336 5.76759 3.98315 7.20125C3.17298 8.63481 2.58554 9.67562 2.22638 10.5026C1.86659 11.3311 1.77646 11.8586 1.86504 12.2843C1.97678 12.8214 2.25174 13.3068 2.64852 13.6718C2.96014 13.9584 3.44572 14.1414 4.32573 14.237C5.20468 14.3326 6.37911 14.3333 8.00004 14.3333C9.62098 14.3333 10.7954 14.3326 11.6744 14.237C12.5544 14.1414 13.0399 13.9584 13.3516 13.6718C13.7483 13.3068 14.0233 12.8214 14.135 12.2843C14.2236 11.8586 14.1335 11.3311 13.7737 10.5026C13.4145 9.67562 12.8271 8.63481 12.0169 7.20125C11.2067 5.76759 10.6182 4.72758 10.0969 3.99653C9.57376 3.26296 9.17434 2.92426 8.77702 2.79237Z" fill="#D92D20" />
                            </svg>
                            <span class="small font-medium">بلاغات الطواريء</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3241 1.17582C10.7563 -0.39203 8.21429 -0.39203 6.64645 1.17582L4.90675 2.91551C4.71149 3.11077 4.71149 3.42736 4.90675 3.62262C5.10201 3.81788 5.41859 3.81788 5.61386 3.62262L7.35355 1.88292C8.53087 0.705601 10.4397 0.705601 11.617 1.88292C12.7943 3.06024 12.7943 4.96906 11.617 6.14638L9.87731 7.88607C9.68205 8.08134 9.68205 8.39792 9.87731 8.59318C10.0726 8.78844 10.3892 8.78844 10.5844 8.59318L12.3241 6.85348C13.892 5.28564 13.892 2.74366 12.3241 1.17582Z" fill="#161616" />
                                <path d="M4.12269 5.11379C4.31795 4.91853 4.31795 4.60194 4.12269 4.40668C3.92743 4.21142 3.61084 4.21142 3.41558 4.40668L1.67588 6.14638C0.108039 7.71422 0.108039 10.2562 1.67588 11.824C3.24373 13.3919 5.78571 13.3919 7.35355 11.824L9.09325 10.0844C9.28851 9.88909 9.28851 9.57251 9.09325 9.37724C8.89799 9.18198 8.58141 9.18198 8.38614 9.37724L6.64645 11.1169C5.46913 12.2943 3.56031 12.2943 2.38299 11.1169C1.20567 9.93962 1.20567 8.03081 2.38299 6.85348L4.12269 5.11379Z" fill="#161616" />
                                <path d="M9.02022 5.18682C9.21548 4.99156 9.21548 4.67497 9.02022 4.47971C8.82496 4.28445 8.50838 4.28445 8.31311 4.47971L4.97978 7.81304C4.78452 8.00831 4.78452 8.32489 4.97978 8.52015C5.17504 8.71541 5.49162 8.71541 5.68689 8.52015L9.02022 5.18682Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">قاعدة المعلومات النووية الدولية</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3241 1.17582C10.7563 -0.39203 8.21429 -0.39203 6.64645 1.17582L4.90675 2.91551C4.71149 3.11077 4.71149 3.42736 4.90675 3.62262C5.10201 3.81788 5.41859 3.81788 5.61386 3.62262L7.35355 1.88292C8.53087 0.705601 10.4397 0.705601 11.617 1.88292C12.7943 3.06024 12.7943 4.96906 11.617 6.14638L9.87731 7.88607C9.68205 8.08134 9.68205 8.39792 9.87731 8.59318C10.0726 8.78844 10.3892 8.78844 10.5844 8.59318L12.3241 6.85348C13.892 5.28564 13.892 2.74366 12.3241 1.17582Z" fill="#161616" />
                                <path d="M4.12269 5.11379C4.31795 4.91853 4.31795 4.60194 4.12269 4.40668C3.92743 4.21142 3.61084 4.21142 3.41558 4.40668L1.67588 6.14638C0.108039 7.71422 0.108039 10.2562 1.67588 11.824C3.24373 13.3919 5.78571 13.3919 7.35355 11.824L9.09325 10.0844C9.28851 9.88909 9.28851 9.57251 9.09325 9.37724C8.89799 9.18198 8.58141 9.18198 8.38614 9.37724L6.64645 11.1169C5.46913 12.2943 3.56031 12.2943 2.38299 11.1169C1.20567 9.93962 1.20567 8.03081 2.38299 6.85348L4.12269 5.11379Z" fill="#161616" />
                                <path d="M9.02022 5.18682C9.21548 4.99156 9.21548 4.67497 9.02022 4.47971C8.82496 4.28445 8.50838 4.28445 8.31311 4.47971L4.97978 7.81304C4.78452 8.00831 4.78452 8.32489 4.97978 8.52015C5.17504 8.71541 5.49162 8.71541 5.68689 8.52015L9.02022 5.18682Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">قاعدة مفاعلات الأبحاث النووية</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3241 1.17582C10.7563 -0.39203 8.21429 -0.39203 6.64645 1.17582L4.90675 2.91551C4.71149 3.11077 4.71149 3.42736 4.90675 3.62262C5.10201 3.81788 5.41859 3.81788 5.61386 3.62262L7.35355 1.88292C8.53087 0.705601 10.4397 0.705601 11.617 1.88292C12.7943 3.06024 12.7943 4.96906 11.617 6.14638L9.87731 7.88607C9.68205 8.08134 9.68205 8.39792 9.87731 8.59318C10.0726 8.78844 10.3892 8.78844 10.5844 8.59318L12.3241 6.85348C13.892 5.28564 13.892 2.74366 12.3241 1.17582Z" fill="#161616" />
                                <path d="M4.12269 5.11379C4.31795 4.91853 4.31795 4.60194 4.12269 4.40668C3.92743 4.21142 3.61084 4.21142 3.41558 4.40668L1.67588 6.14638C0.108039 7.71422 0.108039 10.2562 1.67588 11.824C3.24373 13.3919 5.78571 13.3919 7.35355 11.824L9.09325 10.0844C9.28851 9.88909 9.28851 9.57251 9.09325 9.37724C8.89799 9.18198 8.58141 9.18198 8.38614 9.37724L6.64645 11.1169C5.46913 12.2943 3.56031 12.2943 2.38299 11.1169C1.20567 9.93962 1.20567 8.03081 2.38299 6.85348L4.12269 5.11379Z" fill="#161616" />
                                <path d="M9.02022 5.18682C9.21548 4.99156 9.21548 4.67497 9.02022 4.47971C8.82496 4.28445 8.50838 4.28445 8.31311 4.47971L4.97978 7.81304C4.78452 8.00831 4.78452 8.32489 4.97978 8.52015C5.17504 8.71541 5.49162 8.71541 5.68689 8.52015L9.02022 5.18682Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">قاعدة المعلومات الدولية لمفاعلات الطاقة النووية</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled d-flex gap-3 align-items-center">

                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8333 2.83334C11.8333 2.36285 11.5773 1.9745 11.2459 1.68072C10.914 1.38642 10.4622 1.14422 9.9468 0.950958C8.91236 0.563044 7.51685 0.333336 6 0.333336C4.48316 0.333336 3.08765 0.563044 2.05321 0.950958C1.53783 1.14422 1.08603 1.38642 0.754088 1.68072C0.422728 1.9745 0.166672 2.36285 0.166672 2.83334V12.1667C0.166672 12.6372 0.422728 13.0255 0.754088 13.3193C1.08603 13.6136 1.53783 13.8558 2.05321 14.049C3.08765 14.437 4.48316 14.6667 6 14.6667C7.51685 14.6667 8.91236 14.437 9.9468 14.049C10.4622 13.8558 10.914 13.6136 11.2459 13.3193C11.5773 13.0255 11.8333 12.6372 11.8333 12.1667V2.83334ZM1.41749 2.42898C1.20909 2.61374 1.16667 2.75153 1.16667 2.83334C1.16667 2.91514 1.20909 3.05293 1.41749 3.2377C1.62531 3.42195 1.95456 3.61072 2.40433 3.77939C3.30018 4.11533 4.57133 4.33334 6 4.33334C7.42868 4.33334 8.69983 4.11533 9.59568 3.77939C10.0454 3.61072 10.3747 3.42195 10.5825 3.2377C10.7909 3.05293 10.8333 2.91514 10.8333 2.83334C10.8333 2.75153 10.7909 2.61374 10.5825 2.42898C10.3747 2.24472 10.0454 2.05595 9.59568 1.88729C8.69983 1.55134 7.42868 1.33334 6 1.33334C4.57133 1.33334 3.30018 1.55134 2.40433 1.88729C1.95456 2.05595 1.62531 2.24472 1.41749 2.42898ZM10.8333 4.28999C10.5727 4.45197 10.2724 4.59361 9.9468 4.71571C8.91236 5.10363 7.51685 5.33334 6 5.33334C5.2369 5.33334 4.5045 5.2752 3.83334 5.16802V6.16667C3.83334 6.44281 3.60948 6.66667 3.33334 6.66667C3.0572 6.66667 2.83334 6.44281 2.83334 6.16667V4.96053C2.55566 4.88815 2.2946 4.80624 2.05321 4.71571C1.72759 4.59361 1.42734 4.45197 1.16667 4.28999V7.5C1.16667 7.58181 1.20909 7.71959 1.41749 7.90436C1.62531 8.08862 1.95456 8.27739 2.40433 8.44605C3.30018 8.782 4.57133 9 6 9C7.42868 9 8.69983 8.782 9.59568 8.44605C10.0454 8.27739 10.3747 8.08862 10.5825 7.90436C10.7909 7.71959 10.8333 7.58181 10.8333 7.5V4.28999ZM10.8333 8.95666C10.5727 9.11863 10.2724 9.26027 9.9468 9.38238C8.91236 9.7703 7.51685 10 6 10C5.2369 10 4.5045 9.94186 3.83334 9.83469V10.8333C3.83334 11.1095 3.60948 11.3333 3.33334 11.3333C3.0572 11.3333 2.83334 11.1095 2.83334 10.8333V9.6272C2.55566 9.55481 2.2946 9.4729 2.05321 9.38238C1.72759 9.26027 1.42734 9.11863 1.16667 8.95666V12.1667C1.16667 12.2485 1.20909 12.3863 1.41749 12.571C1.62531 12.7553 1.95456 12.9441 2.40433 13.1127C3.30018 13.4487 4.57133 13.6667 6 13.6667C7.42868 13.6667 8.69983 13.4487 9.59568 13.1127C10.0454 12.9441 10.3747 12.7553 10.5825 12.571C10.7909 12.3863 10.8333 12.2485 10.8333 12.1667V8.95666Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">البيانات المفتوحة</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99985 0.333336C5.06685 0.333336 3.49985 1.90034 3.49985 3.83334C3.49985 5.76633 5.06685 7.33334 6.99985 7.33334C8.93284 7.33334 10.4998 5.76633 10.4998 3.83334C10.4998 1.90034 8.93284 0.333336 6.99985 0.333336ZM4.49985 3.83334C4.49985 2.45262 5.61914 1.33334 6.99985 1.33334C8.38056 1.33334 9.49985 2.45262 9.49985 3.83334C9.49985 5.21405 8.38056 6.33334 6.99985 6.33334C5.61914 6.33334 4.49985 5.21405 4.49985 3.83334Z" fill="#161616" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1524 9.5528C11.044 9.49163 10.9482 9.43761 10.8707 9.39145C8.50136 7.98063 5.49857 7.98063 3.12921 9.39145C3.05167 9.43762 2.95588 9.49166 2.84744 9.55284C2.37223 9.82094 1.65389 10.2262 1.16178 10.7079C0.853999 11.0092 0.561563 11.4061 0.5084 11.8925C0.451862 12.4097 0.677504 12.8951 1.13018 13.3264C1.91115 14.0704 2.84834 14.6667 4.06054 14.6667H9.93939C11.1516 14.6667 12.0888 14.0704 12.8697 13.3264C13.3224 12.8951 13.5481 12.4097 13.4915 11.8925C13.4384 11.4061 13.1459 11.0092 12.8382 10.7079C12.346 10.2262 11.6276 9.8209 11.1524 9.5528ZM3.64082 10.2507C5.69494 9.02756 8.30499 9.02756 10.3591 10.2507C10.471 10.3173 10.5937 10.3869 10.7221 10.4598C11.1972 10.7293 11.7519 11.044 12.1387 11.4225C12.3787 11.6575 12.4811 11.8514 12.4974 12.0012C12.5104 12.1201 12.4804 12.3162 12.18 12.6024C11.4894 13.2603 10.7877 13.6667 9.93939 13.6667H4.06054C3.21225 13.6667 2.51053 13.2603 1.81996 12.6024C1.51954 12.3162 1.48948 12.1201 1.50248 12.0012C1.51885 11.8514 1.62119 11.6575 1.86128 11.4225C2.248 11.044 2.80268 10.7293 3.27776 10.4598C3.4062 10.3869 3.52891 10.3173 3.64082 10.2507Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">انضم إلينا</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 4.66666C6.53976 4.66666 6.16666 5.03976 6.16666 5.5C6.16666 5.77614 5.94281 6 5.66666 6C5.39052 6 5.16666 5.77614 5.16666 5.5C5.16666 4.48748 5.98748 3.66666 7 3.66666C8.01252 3.66666 8.83333 4.48748 8.83333 5.5C8.83333 5.86422 8.7266 6.20505 8.54254 6.49109C8.42726 6.67025 8.29248 6.84129 8.1682 6.99575L8.10116 7.07884C7.99806 7.20644 7.90337 7.32365 7.81591 7.44385C7.60019 7.74033 7.5 7.96313 7.5 8.16666V8.5C7.5 8.77614 7.27614 9 7 9C6.72386 9 6.5 8.77614 6.5 8.5V8.16666C6.5 7.63382 6.76161 7.19318 7.0073 6.8555C7.11112 6.71282 7.22487 6.57211 7.32832 6.44415L7.38909 6.36886C7.51255 6.21542 7.61765 6.08043 7.7016 5.94996C7.78494 5.82045 7.83333 5.66664 7.83333 5.5C7.83333 5.03976 7.46024 4.66666 7 4.66666Z" fill="#161616" />
                                <path d="M6.99479 10.1667C6.6266 10.1667 6.32812 10.4651 6.32812 10.8333C6.32812 11.2015 6.6266 11.5 6.99479 11.5H7.00078C7.36897 11.5 7.66744 11.2015 7.66744 10.8333C7.66744 10.4651 7.36897 10.1667 7.00078 10.1667H6.99479Z" fill="#161616" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.96188 0.666664H7.03811C8.49858 0.666655 9.6457 0.666648 10.5413 0.78706C11.4591 0.910451 12.1873 1.16847 12.7594 1.74061C13.3315 2.31274 13.5895 3.04091 13.7129 3.95868C13.8333 4.85429 13.8333 6.0014 13.8333 7.46186V7.53811C13.8333 8.99857 13.8333 10.1457 13.7129 11.0413C13.5895 11.9591 13.3315 12.6873 12.7594 13.2594C12.1873 13.8315 11.4591 14.0895 10.5413 14.2129C9.64571 14.3333 8.49859 14.3333 7.03813 14.3333H6.96189C5.50142 14.3333 4.35429 14.3333 3.45868 14.2129C2.54091 14.0895 1.81274 13.8315 1.24061 13.2594C0.668474 12.6873 0.410451 11.9591 0.28706 11.0413C0.166648 10.1457 0.166655 8.99858 0.166664 7.53811V7.46188C0.166655 6.00141 0.166648 4.85429 0.28706 3.95868C0.410451 3.04091 0.668474 2.31274 1.24061 1.74061C1.81274 1.16847 2.54091 0.910451 3.45868 0.78706C4.35429 0.666648 5.50141 0.666655 6.96188 0.666664ZM3.59193 1.77814C2.78504 1.88663 2.30308 2.09235 1.94771 2.44771C1.59235 2.80308 1.38663 3.28504 1.27814 4.09193C1.16773 4.91319 1.16666 5.99308 1.16666 7.5C1.16666 9.00691 1.16773 10.0868 1.27814 10.9081C1.38663 11.715 1.59235 12.1969 1.94771 12.5523C2.30308 12.9076 2.78504 13.1134 3.59193 13.2219C4.41319 13.3323 5.49308 13.3333 7 13.3333C8.50691 13.3333 9.5868 13.3323 10.4081 13.2219C11.215 13.1134 11.6969 12.9076 12.0523 12.5523C12.4076 12.1969 12.6134 11.715 12.7219 10.9081C12.8323 10.0868 12.8333 9.00691 12.8333 7.5C12.8333 5.99308 12.8323 4.91319 12.7219 4.09193C12.6134 3.28504 12.4076 2.80308 12.0523 2.44771C11.6969 2.09235 11.215 1.88663 10.4081 1.77814C9.5868 1.66773 8.50691 1.66666 7 1.66666C5.49308 1.66666 4.41319 1.66773 3.59193 1.77814Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">الاسئلة الشائعة</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5873 14.6635C11.3419 14.6635 11.0959 14.6395 10.8519 14.5901C9.78192 14.3788 8.83659 14.0162 7.78793 13.4135C5.48259 12.0922 3.40392 10.0135 2.08392 7.71018C1.48659 6.67085 1.12326 5.72618 0.905926 4.64618C0.614593 3.20285 1.2106 1.67281 2.4626 0.653475C2.78527 0.392142 3.16326 0.287462 3.52793 0.356796C3.89393 0.426796 4.2066 0.663462 4.4086 1.02346L4.99128 2.07151L4.99265 2.07397C5.48712 2.96042 5.75988 3.4494 5.6986 4.04618C5.63739 4.63436 5.28132 5.04653 4.63639 5.79308L4.63259 5.79749L3.13194 7.51819C4.30927 9.44952 6.04927 11.1895 7.98194 12.3675L9.66726 10.9035L9.66777 10.903C10.4035 10.258 10.8481 9.86813 11.4533 9.80347C12.0613 9.74081 12.5773 10.0301 13.4326 10.5115L14.4746 11.0901C14.8399 11.2955 15.0773 11.6108 15.1466 11.9788C15.2153 12.3428 15.1086 12.7188 14.8473 13.0375C14.0013 14.0768 12.7999 14.6642 11.5886 14.6642L11.5873 14.6635ZM8.91328 12.8822C9.62395 13.2329 10.3033 13.4628 11.0486 13.6102C12.1306 13.8295 13.2886 13.3675 14.0719 12.4048C14.1233 12.3422 14.1793 12.2515 14.1626 12.1635C14.1493 12.0922 14.0846 12.0188 13.9853 11.9628L12.9433 11.3841C12.2026 10.9668 11.8353 10.7675 11.5579 10.7975C11.2799 10.8268 10.9793 11.0821 10.3239 11.6561L8.9126 12.8822H8.91328ZM3.30661 1.33486C3.22194 1.33486 3.13861 1.39147 3.09261 1.4288C2.13061 2.21213 1.66794 3.36947 1.88594 4.44814C2.03727 5.1988 2.2686 5.87949 2.6166 6.58616L3.87526 5.1428C4.44393 4.4848 4.67526 4.20748 4.70326 3.94215C4.73126 3.67081 4.55459 3.34151 4.11725 2.55751L3.5346 1.51018C3.4806 1.41351 3.41059 1.35218 3.33926 1.33818C3.32859 1.33618 3.31728 1.33486 3.30661 1.33486Z" fill="#161616" />
                                <path d="M11.9987 8.00016C11.7227 8.00016 11.4987 7.77616 11.4987 7.50016V6.3335H11.0273C10.7547 6.3335 10.4966 6.33348 10.284 6.12015C10.07 5.90882 10.07 5.65482 10.07 5.38683V4.16683C10.07 3.89083 10.294 3.66683 10.57 3.66683C10.846 3.66683 11.07 3.89083 11.07 4.16683V5.3335H11.4987V4.16683C11.4987 3.89083 11.7227 3.66683 11.9987 3.66683C12.2747 3.66683 12.4987 3.89083 12.4987 4.16683V7.50016C12.4987 7.77616 12.2747 8.00016 11.9987 8.00016Z" fill="#161616" />
                                <path d="M9.14065 8.00016H8.56998C8.23198 8.00016 7.96465 8.00016 7.73665 7.78083C7.49866 7.55417 7.49866 7.27287 7.49866 6.94689V6.16683C7.49866 5.9615 7.49866 5.72946 7.68931 5.53747C7.88331 5.3348 8.12333 5.3335 8.33599 5.3335C8.50333 5.33016 8.58199 5.31815 8.61799 5.30882C8.64133 5.20949 8.64133 4.95082 8.64133 4.72015V4.66683H7.99866C7.72266 4.66683 7.49866 4.44283 7.49866 4.16683C7.49866 3.89083 7.72266 3.66683 7.99866 3.66683H8.56998C8.90731 3.66683 9.17399 3.66686 9.40266 3.88486C9.64133 4.1142 9.64133 4.3948 9.64133 4.7208C9.64133 5.31947 9.64132 5.71482 9.32665 6.02816C9.32332 6.03149 9.31999 6.0348 9.31666 6.03747C9.08199 6.2588 8.78134 6.31282 8.49801 6.32816V7.00016H9.14065C9.41665 7.00016 9.64065 7.22416 9.64065 7.50016C9.64065 7.77616 9.41665 8.00016 9.14065 8.00016Z" fill="#161616" />
                                <path d="M12.7573 9.16831C12.856 9.27764 12.9927 9.33361 13.1293 9.33361V9.33498C13.2487 9.33498 13.3687 9.29227 13.464 9.20626C13.5293 9.1476 13.6053 9.07826 13.6826 8.99826C14.6393 8.04026 15.166 6.76827 15.166 5.4116C15.166 4.05494 14.6373 2.77958 13.6787 1.82091C11.6987 -0.157753 8.47733 -0.157753 6.49733 1.82091L6.49 1.82827C6.424 1.89694 6.36001 1.96693 6.29267 2.04227C6.10934 2.24893 6.12798 2.56492 6.33398 2.74826C6.53998 2.93159 6.856 2.91292 7.04 2.70692C7.09734 2.64225 7.15201 2.58297 7.20801 2.5243C8.79867 0.938966 11.3833 0.93962 12.972 2.52762C13.742 3.29762 14.166 4.32162 14.166 5.41095C14.166 6.50029 13.742 7.5243 12.972 8.29364L12.9647 8.30093C12.9147 8.35293 12.8627 8.40092 12.7947 8.46225C12.5893 8.64692 12.5727 8.96298 12.7573 9.16831Z" fill="#161616" />
                            </svg>
                            <span class="small font-medium">اتصل بنا</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex align-items-center gap-2">
                            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 2.16667C4.5 1.15415 5.32081 0.333336 6.33333 0.333336C7.34586 0.333336 8.16667 1.15415 8.16667 2.16667C8.16667 3.17919 7.34585 4 6.33333 4C5.32081 4 4.5 3.17919 4.5 2.16667ZM6.33333 1.33334C5.8731 1.33334 5.5 1.70643 5.5 2.16667C5.5 2.62691 5.8731 3 6.33333 3C6.79357 3 7.16667 2.62691 7.16667 2.16667C7.16667 1.70643 6.79357 1.33334 6.33333 1.33334Z" fill="#161616" />
                                <path d="M6.33335 4.33334C6.60949 4.33334 6.83335 4.55719 6.83335 4.83334V6H8.92594C9.20208 6 9.42594 6.22386 9.42594 6.5C9.42594 6.77615 9.20208 7 8.92594 7H6.83335V9.16667C6.83335 9.23272 6.83337 9.28626 6.83411 9.33257C6.88042 9.33331 6.93396 9.33334 7.00001 9.33334L8.56546 9.33333C8.65979 9.33329 8.76654 9.33325 8.85975 9.34349C8.97082 9.35569 9.10769 9.386 9.24152 9.47661C9.37536 9.56722 9.45434 9.68304 9.50692 9.78164C9.55103 9.86437 9.59063 9.96349 9.62563 10.0511L9.96329 10.8952C9.98011 10.9373 9.99354 10.9708 10.0055 10.9996C10.0366 11 10.0727 11 10.118 11H11C11.2762 11 11.5 11.2239 11.5 11.5C11.5 11.7761 11.2762 12 11 12L10.1012 12C10.0069 12 9.90015 12.0001 9.80694 11.9899C9.69587 11.9777 9.559 11.9473 9.42516 11.8567C9.29133 11.7661 9.21235 11.6503 9.15977 11.5517C9.11565 11.469 9.07605 11.3698 9.04105 11.2822L8.7034 10.4381C8.68658 10.396 8.67315 10.3625 8.66121 10.3338C8.63008 10.3334 8.59395 10.3333 8.54866 10.3333L6.97705 10.3333C6.84031 10.3334 6.69244 10.3335 6.56763 10.3167C6.42141 10.297 6.23462 10.2465 6.07742 10.0893C5.92022 9.93206 5.86967 9.74527 5.85001 9.59905C5.83323 9.47424 5.83329 9.32638 5.83334 9.18963L5.83335 4.83334C5.83335 4.55719 6.0572 4.33334 6.33335 4.33334Z" fill="#161616" />
                                <path d="M4.45433 6.65992C4.7267 6.61443 4.91063 6.35676 4.86514 6.08439C4.81966 5.81202 4.56198 5.62809 4.28961 5.67358C2.14049 6.03248 0.5 7.89308 0.5 10.1389C0.5 12.6417 2.53764 14.6667 5.04637 14.6667C6.56693 14.6667 7.91373 13.9227 8.73858 12.7813C8.90033 12.5575 8.85001 12.245 8.6262 12.0832C8.40239 11.9215 8.08983 11.9718 7.92808 12.1956C7.28386 13.087 6.23353 13.6667 5.04637 13.6667C3.0856 13.6667 1.5 12.0851 1.5 10.1389C1.5 8.39314 2.77597 6.9402 4.45433 6.65992Z" fill="#161616" />
                            </svg>

                            <span class="small font-medium">قائمة الوصول</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-white px-0 px-xl-5 border-bottom position-relative">
        <nav class="navbar navbar-expand-xxl py-0">
            <div class="container-fluid align-items-stretch">
                <a class="navbar-brand py-3" href="@rootUrl">
                    <img src="/images/logo_nrrc.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-stretch mainMenu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ms-3">
                        @{
                            BuildMenu();
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link font-medium" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C12.4013 20 14.6049 19.1536 16.3287 17.7429L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L17.7429 16.3287C19.1536 14.6049 20 12.4013 20 10C20 4.47715 15.5228 0 10 0ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#161616" />
                                </svg>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="@OtherLangUrl" class="nav-link font-medium">@OtherLangText</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="collapse py-4 header-search-box px-xl-5 border-top" id="collapseSearch">
            <div class="container-fluid py-4">
                <div class="d-flex justify-content-end py-3">
                    <a class="close-header-search" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 6.26225L14.0123 0.25L15.75 1.98775L9.73775 8L15.75 14.0123L14.0123 15.75L8 9.73775L1.98775 15.75L0.25 14.0123L6.26225 8L0.25 1.98775L1.98775 0.25L8 6.26225Z" fill="#161616" />
                        </svg>

                    </a>
                </div>
                <div class="d-flex gap-3 align-items-center w-100 my-4">
                    <div class="border d-flex gap-3 rounded-2 align-items-center px-3 flex-grow-1">
                        <span>
                            <svg width="20" height="20" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C12.4013 20 14.6049 19.1536 16.3287 17.7429L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L17.7429 16.3287C19.1536 14.6049 20 12.4013 20 10C20 4.47715 15.5228 0 10 0ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#161616" />
                            </svg>
                        </span>
                        <input type="text" class="form-control border-0 bg-transparent rounded-2">
                    </div>
                    <button type="submit" class="btn bg-green rounded-2 text-white p-3 py-2 font-medium">
                        search
                    </button>
                </div>

            </div>

        </div>
        <!-- Mobile Menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav mainMenu">
                    @{
                        BuildMenu();
                    }

                </ul>
                <ul class="navbar-nav d-flex flex-row mainMenu">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link font-medium justify-content-center" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C12.4013 20 14.6049 19.1536 16.3287 17.7429L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L17.7429 16.3287C19.1536 14.6049 20 12.4013 20 10C20 4.47715 15.5228 0 10 0ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#161616" />
                            </svg>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="@OtherLangUrl" class="nav-link font-medium justify-content-center">@OtherLangText</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>

@{
    void BuildMenu()
    {
        @if (selection != null)
        {
            foreach (var item in selection)
            {
                var redirectURL = item.Value("redirectURL").ToLinkURL("");
                IPublishedContent[]? children = null;

                children = item.Children?
                .Where(x => x.IsVisible(PublishedValueFallback) && types.Contains(x.ContentType.Alias))
                .Where(x => x.Value<Boolean>(nameof(PageProperties.ShowInMainMenu)) == true)
                .ToArray();

                var itemLink = string.IsNullOrEmpty(redirectURL) ? item.Url(PublishedUrlProvider) : redirectURL;
                if (children?.Length > 0)
                {
                    itemLink = "#";
                }
                var parent = currentPage?.Parent;

                var selected = currentPage?.Id == item?.Id || currentPage?.Parent?.Id == item?.Id ? "selected" : "";
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-medium @selected" href="@itemLink#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @item.ToPageTitle()
                    </a>
                    @if (children?.Length > 0)
                    {
                        <ul class="dropdown-menu">
                            @foreach (var childItem in children)
                            {
                                var childItemLink = childItem.Url(PublishedUrlProvider);
                                <li>
                                    <a class="dropdown-item" href="@childItemLink">
                                        @childItem.ToPageTitle()
                                    </a>
                                </li>
                            }

                        </ul>
                    }
                </li>
            }
        }

    }

}

